.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 21px 18px;
}

.container textarea {
  background-color: #e7e9e0;
  width: 65%;
  border-radius: 18px;
  font-size: 20px;
  resize: none;
  padding: 12px 1px 0px 20px;
}

.container img {
  cursor: pointer;
}
