.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1efe7;
  padding: 20px;
}

.logo {
  width: 280px;
  margin-right: auto;
  cursor: pointer;
}

.searchBar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.searchBar input {
  width: 220px;
  border: 2px solid #b18cf9;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
  background-color: #eaece3;
}

.searchBar img {
  cursor: pointer;
}

.searchBar img:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px #98be93;
}

.login button {
  color: #1976d2;
}
