.post {
  width: 60%;
  box-shadow: 0 0 9px 0px #7039df;
  padding: 20px 0;
  border-radius: 12px;
}

.post h3 {
  font-size: 35px;
  color: #1976d2;
  margin-top: 6px;
}

.disabled {
  background-color: #fffffed0;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.comments {
  padding: 2px 8px;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.sort img {
  cursor: pointer;
}

.sort img:hover {
  border-radius: 6px;
  box-shadow: 0px 0px 7px 3px #e7e3d7;
}
