.container {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 65%;
  height: auto;
  box-shadow: 0 0 2px black;
  border-radius: 6px;
}

.heading {
  background-color: #1976d2;
  color: white;
  font-size: 25px;
  border-radius: 6px 6px 0 0;
}

.heading h3 {
  margin: 10px;
}

.description {
  display: flex;
  justify-content: center;
}
.description p {
  width: 60%;
  text-align: justify;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
}

.postImage {
  display: flex;
  justify-content: center;
  margin: 20px 6px 20px;
}
.postImage img {
  width: 75%;
  border-radius: 6px;
  height: auto;
}

.comments {
  display: flex;
  justify-content: center;
}
