.card {
  width: 60%;
  box-shadow: 0 0 9px 0px #7039df;
  padding: 20px 0;
  border-radius: 12px;
}

.card h3 {
  font-size: 35px;
  color: #1976d2;
  margin-top: 6px;
}

.disabled {
  background-color: #fffffed0;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.modal {
  background-color: #f1efe7;
  position: fixed;
  top: 20vh;
  left: 18%;
  margin: 0 auto;
  width: 60%;
  z-index: 100;
  overflow: hidden;
}
